<!-- begin header -->
<header class="header js-header">
    <div class="header__inner">
        <div class="header__logo">
            <a href="#" class="logo">
                {{mixins.logo()}}
            </a>
        </div>
        <div class="header__actions">
            <div class="header__menu">
                <nav class="nav">
                    <ul class="nav__menu">
                        <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Акции</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Доставка и оплата</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Блог</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__search">
                <div class="search-field">
                    <div class="search-field__input">
                        <input type="text" placeholder="Найти"/>
                    </div>
                    <button class="search-field__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.53 96.47"><defs><style>.cls-1,.cls-2{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:7px;}.cls-2{stroke-linecap:round;}</style></defs><title>search</title><g id="Слой_2" data-name="Слой 2"><g id="Слой_1-2" data-name="Слой 1"><circle class="cls-1" cx="64.53" cy="33" r="29.5"/><line class="cls-2" x1="43.15" y1="53.31" x2="3.5" y2="92.97"/></g></g></svg>
                    </button>
                </div>
            </div>
            <button class="header__cart">
                {{mixins.icon('cart')}}
            </button>
        </div>
    </div>
</header>
<!-- end header -->